<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI + React App</title>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">

    {% if not settings.USE_BUNDLE_PROXY %}
        <link rel="stylesheet" href="{{ url_for('static', path='section/css/main.css') }}">
    {% endif %}
</head>
<body>
    {% block body_section %}{% endblock %}

    {% if settings.USE_BUNDLE_PROXY %}
        <script src="{{ url_for('static', path='js/bundle.js') }}"></script>
    {% else %}
        <script src="{{ url_for('static', path='section/js/main.js') }}"></script>
    {% endif %}
</body>
</html>
