<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python React example</title>
    <link rel="stylesheet" href="/static/section/css/main.css">
</head>
<body>
<div id="section-home">
</div>
<script defer="defer" src="/static/section/js/main.js"></script>
</body>
</html>
